{{ define "_formulario-produto" }}
<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" value="{{.Nome}}" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" value="{{.Descricao}}" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label for="preco">Preço:</label>
            <input type="number" name="preco" value="{{.Preco}}" class="form-control" step="0.01">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label for="quantidade">Quantidade:</label>
            <input type="number" name="quantidade" value="{{.Quantidade}}" class="form-control">
        </div>
    </div>
</div>
{{ end }}