{{ define "New" }}
{{ template "_head" }}
    <body>
        {{ template "_menu" }}
        <div class="container mb-5">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-5">Novo produto</h1>
                    <p class="lead">Insira os detalhes</p>
                </div>
            </div>
            <form method="POST" action="insert">
                {{ template "_formulario-produto" . }}
                <button type="submit" value="salvar" class="btn btn-success">Salvar</button>
                <a class="btn btn-info" href="/">Voltar</a>
            </form>
        </div>
    </body>
</html>
{{ end }}